.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
  max-width: 219px;
}

.card__delete-button {
  background: transparent url(../images/trash-icon.svg) center no-repeat;
  width: 18px;
  height: 19.3px;
  border: none;
  position: absolute;
  z-index: 1;
  top: 18px;
  right: 15px;
  padding: 0;
  margin: 0;
  transition: opacity 0.3s linear;
}

.card__delete-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card__like-button {
  background: transparent url(../images/like-button-disabled.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.3s linear;
  position: absolute;
}

.card__like-button_active {
  background-image: url(../images/like-button-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
