.footer {
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer__text {
  line-height: 21.78px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
}

@media screen and (max-width: 480px) {
  .footer {
    margin: 48px 0px 36px;
    padding: 0px;
    width: auto;
  }

  .footer__text {
    font-size: 14px;
    line-height: 16.94px;
  }
}
