.header {
  margin-top: 45px;
  border-bottom: solid #545454;
  border: 70%;
  border-width: 1px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
    width: 320px;
    height: 56px;
    border-bottom: auto;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 167px 32px 27px;
  }
}
