@import url(../vendor/fonts.css);

.page {
  background-color: black;
  font-family: "Inter", sans-serif;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.header {
  margin-top: 45px;
  border-bottom: solid #545454;
  border: 70%;
  border-width: 1px;
}

.header__logo {
  max-width: 173px;
  max-height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    width: 320px;
    height: 56px;
    border-bottom: auto;
    margin-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 0 167px 32px 27px;
  }
}

.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px 18px;
  margin-right: 10px;
}

.profile__title {
  font-family: "Inter", sans-serif;
  font-size: 41px;
  line-height: 48px;
  font-weight: 500;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  grid-area: title;
}

.profile__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  grid-area: description;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  background-size: 10px 10px;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  border: solid white;
  border-width: 1px;
  margin: 15px 0px 9px 18px;
  grid-area: button;
  transition: opacity 0.3s linear;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  box-sizing: border-box;
  border: solid white;
  border-width: 2px;
  border-radius: 2px;
  padding: 0;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.cards {
  margin-top: 51px;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow: hidden;
  max-width: 282px;
  border-radius: 10px;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-button-disabled.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.3s linear;
}

.card__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  .profile__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 630px) {
  .profile {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 282px;
    margin-top: 42px;
    margin-bottom: 0px;
    text-align: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 282px;
    margin: 0px;
    grid-gap: 0px;
  }

  .profile__title {
    width: 196px;
    font-size: 22px;
    text-align: center;
    line-height: 26.63px;
  }

  .profile__description {
    width: 100%;
    width: 282px;
    height: 14px;
    overflow: visible;
    font-size: 14px;
    line-height: 16.94px;
    text-align: center;
    margin-top: 14px;
  }

  .profile__edit-button {
    border: 1px solid rgba(255, 255, 255, 1);
    width: 18px;
    height: 18px;
    margin: 4px 0 0 10px;
  }

  .profile__add-button {
    width: 282px;
    margin-top: 36px;
    width: 100%;
    text-align: center;
  }

  .profile__image {
    margin: 0px 0px 30px 0px;
    text-align: center;
  }
}
